*, :before, :after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 1.5;
  color: #1A1A1A;
}

h1, h2, h3 {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.3;
  font-weight: 500;
}

h1 {
  margin: 0 0 24px;
  font-size: 32px;
}

h2 {
  margin: 0 0 20px;
  font-size: 24px;
}

p {
  margin: 0 0 12px;
}

a {
  color: #1A1A1A;
  line-height: 1.2;
}

.iconed-link {
  display: inline-flex;
  align-items: center;
}
.iconed-link i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  margin-right: 6px;
  color: white;
  background: #1A1A1A;
  border-radius: 50%;
}

a, button {
  display: inline-flex;
}
a:active, button:active {
  transform: translate(1px, 1px);
}

b {
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Layout */
header {
  position: relative;
  margin: 25px 0 190px;
}

section > *:last-child {
  margin-bottom: 0;
}

.grid {
  margin-bottom: 48px;
  display: grid;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 40px;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  margin: 100px 0 20px;
  font-size: 14px;
  opacity: 0.4;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 25px;
}

.logo {
  display: inline-flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  text-decoration: none;
  color: inherit;
  border: none;
}
.logo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  filter: grayscale(1);
}
.logo:hover {
  border: none;
}
.logo:hover img {
  filter: grayscale(0);
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.9px) {
  nav ul {
    position: absolute;
    top: 210%;
  }
}
@media (min-width: 768px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 64px;
  }
}
@media (min-width: 768px) {
  nav ul li {
    display: inline-flex;
  }
  nav ul li:not(:last-child) {
    margin-right: 30px;
  }
}
nav ul li a {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  color: inherit;
  border: none;
}

/* Contacts */
.contacts-list li:not(:last-child) {
  margin-bottom: 4px;
}

/* Works section */
.works__grid {
  display: grid;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 24px;
}
@media (max-width: 767.9px) {
  .works__grid {
    justify-items: center;
  }
}
@media (min-width: 768px) {
  .works__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.work {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background: #f2f3f4;
  overflow: hidden;
  aspect-ratio: 16/10.4;
  padding: 10px 14px;
  text-decoration: none;
}
.work img {
  position: absolute;
  margin-bottom: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transform: perspective(9cm) rotateX(-5deg) rotateY(-10deg) translate(20px, 55px);
  transition: transform 400ms;
  box-shadow: 0 0 20px rgba(26, 26, 26, 0.07);
}
.work:hover img {
  transform: perspective(16cm) rotateX(-5deg) rotateY(-10deg) translate(20px, 55px);
}
.work:hover .work__icon {
  opacity: 1;
}

.work__title {
  margin-bottom: 6px;
  font-size: 15px;
}

.work__text {
  font-size: 13px;
  opacity: 0.4;
}

.work__icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background: #1A1A1A;
  color: white;
  border-radius: 50%;
  opacity: 0.1;
  transition: opacity 400ms;
}

/* Reviews */
.reviews ul {
  display: flex;
  flex-wrap: wrap;
}
.reviews ul li {
  display: inline-flex;
  align-items: center;
}
.reviews ul li:not(:last-child) {
  margin-right: 6px;
}
.reviews ul li:not(:last-child)::after {
  content: ", ";
}/*# sourceMappingURL=style.css.map */