/* Main styles */

* {
  box-sizing: border-box;
}

::selection {
  background: rgba(0, 0, 205, 0.7);
  color: white;
}

body {
  margin: 0;
  /*font-family: Consolas;*/
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background-color: #ececec;
  color: #444;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  /*height: 100vh;*/
  padding: 50px 20px 150px;
  /*background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );*/
  background: white;
}

@media (min-width: 480px) {
  .container {
    padding: 50px 50px 250px;
  }
}

strong {
  font-weight: 600;
}

/* Header */

header {
  position: relative;
}

/* Contacts */

.contacts {
  position: absolute;
  top: -40px;
  right: -10px;
  display: flex;
}

.contact {
  margin: 0 0 5px;
}

.contact a {
  display: block;
  padding: 5px 10px;
}

.contact a i {
  margin: 0;
}

@media (min-width: 1200px) {
  .contacts {
    top: 0;
    right: -100px;
    display: block;
  }
  .contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background: white;
    border-radius: 50%;
  }
}

/* Sections */

section {
  padding: 10px 0;
  /*background: rgba(0, 0, 0, 0.1);*/
}

section:not(:last-child) {
  margin-bottom: 10px;
}

/* Headings */

h1,
h2,
h3 {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  margin: 0 0 20px;
  font-size: 2.5rem;
}

h2 {
  margin: 0 0 20px;
  font-size: 1.8rem;
}

h3 {
  margin: 0 0 10px;
  font-size: 1.4rem;
}

/* Links */

a {
  color: mediumblue;
}

a:hover {
  opacity: 0.7;
}

/* Lists */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul > li {
  margin-bottom: 5px;
}

ul > li > a {
  display: inline-flex;
  align-items: center;
  font-family: Consolas;
  font-size: 1.1rem;
  text-decoration: none;
}

ul > li > a > i {
  margin-right: 10px;
}

/* Paragraph */

p {
  margin: 0 0 10px;
}

/* Main Navigation  */

.mainNav {
  margin: 0 -20px 30px;
  padding: 0 20px 20px;
  font-family: Consolas;
  border-bottom: 1px solid #ececec;
}

@media (min-width: 480px) {
  .mainNav {
    margin: 0 -50px 30px;
    padding: 0 50px 20px;
  }
}

.mainNav ul {
  display: flex;
  flex-wrap: wrap;
}

.mainNav ul li {
  margin: 0;
}

/*.mainNav ul li:first-child {
  margin-left: auto;
}*/

.mainNav ul li:not(:last-child) {
  margin-right: 2rem;
}

.mainNav ul li a {
  display: block;
  padding: 5px 0;
  font-size: 1.2rem;
  font-weight: bold;
  /*color: blue;*/
  border-bottom: 2px solid transparent;
}

.mainNav ul li a:hover {
  border-bottom-color: currentColor;
  opacity: 1;
}

/* Works section */

.works {
  display: flex;
  flex-wrap: wrap;
}

.work {
  position: relative;
  width: 100%;
  /*margin: 0 1.5% 0 0;*/
  /*color: white;*/
  font-size: 0.8rem;
  background: #e5e5e5;
  /*border: 1px solid #e5e5e5;*/
  /*border-bottom-width: 3px;*/
  /*box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);*/
  border-radius: 5px;
}

.work::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    200deg,
    rgba(0, 0, 0, 0.001),
    rgba(0, 0, 0, 0.05)
  );
  border-radius: 5px;
  pointer-events: none;
}

@media (max-width: 479px) {
  .work:not(:first-child) {
    margin-top: 15px;
  }
  .work:last-child {
    display: none;
  }
}

@media (min-width: 480px) {
  .work {
    width: 32.3333%;
    margin: 0 1.5% 0 0;
  }
  .work:nth-child(3n + 0) {
    margin-right: 0;
  }
  .work:nth-child(-n + 3) {
    margin-bottom: 20px;
  }
}

.work a {
  display: block;
  filter: grayscale(100%);
  /*transition: box-shadow 100ms;*/
}

.work a:hover {
  filter: grayscale(0%);
  opacity: 1;
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
}

.work img {
  display: block;
  width: 100%;
  height: auto;
}

.work__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Reviews section */

.reviews {
  margin-bottom: 40px;
}
.review {
}

blockquote {
  margin: 0 0 20px;
  padding: 20px;
  font-size: 0.925rem;
  background: #fff7e2;
  border-radius: 0 0 10%/10% 0;
  /*border: 1px solid #e5e5e5;*/
  /*border-bottom-width: 3px;*/
}

/* Utilities */

.accent {
  color: #333;
}

/* Write me */

.writeMe label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 0.95rem;
}

.writeMe input,
.writeMe textarea {
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  border: 2px solid #e5e5e5;
}

.writeMe input:focus,
.writeMe textarea:focus {
  border-color: mediumblue;
  outline: none;
}

.writeMe input {
  height: 40px;
}

.writeMe textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 120px;
}

.writeMe button {
  height: 44px;
  padding: 0 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: mediumblue;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.writeMe button:hover {
  opacity: 0.7;
}
