/* Fonts */
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Italic.svg#OpenSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PFDinTextCondPro';
  src: url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Regular.eot");
  src: url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Regular.woff") format("woff"), url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Regular.ttf") format("truetype"), url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCondPro';
  src: url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Bold.eot");
  src: url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Bold.woff") format("woff"), url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Bold.ttf") format("truetype"), url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Bold.svg#PFDinTextCondPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCondPro';
  src: url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Medium.eot");
  src: url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Medium.woff") format("woff"), url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Medium.ttf") format("truetype"), url("../fonts/PFDinTextCondPro/PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

/* GLOBALS */
*::-webkit-input-placeholder {
  color: #313131 !important;
  opacity: 1 !important;
}

*:-moz-placeholder {
  color: #313131 !important;
  opacity: 1 !important;
}

*::-moz-placeholder {
  color: #313131 !important;
  opacity: 1 !important;
}

*:-ms-input-placeholder {
  color: #313131 !important;
  opacity: 1 !important;
}

*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: 100%;
  max-height: 1000000px;
}

body {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  min-width: 320px;
  line-height: 1.56;
  overflow-x: hidden;
  color: #313131;
  background-color: #fff;
}

body.modal-open {
  position: relative !important;
  height: 100% !important;
  overflow: hidden !important;
}

body.modal-open .wrapper {
  position: relative !important;
  height: 100% !important;
  overflow: hidden !important;
}

@media only screen and (min-width: 992px) {
  .container {
    padding: 0;
  }
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto;
}

input, textarea {
  -webkit-appearance: none !important;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
}

a {
  outline: none;
  color: #ee474e;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

a:focus, a:hover {
  color: #ee474e;
  text-decoration: underline;
}

p {
  letter-spacing: 0.4px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'PFDinTextCondPro';
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
}

h2 {
  font-size: 58px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.h-underline {
  position: relative;
  padding-bottom: 22px;
}

.h-underline:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 5px;
  background-color: #ee474e;
}

.h-underline--center {
  padding-bottom: 40px;
}

.h-underline--center:after {
  left: 50%;
  width: 80px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* Sections */
section {
  padding-top: 147px;
  padding-bottom: 150px;
  text-align: center;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 17px 41px;
  font-family: 'PFDinTextCondPro';
  font-size: 17px;
  letter-spacing: 0;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ee474e;
  color: #fff;
  border: none;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  white-space: nowrap;
  -webkit-box-shadow: 3px 12px 27px rgba(238, 71, 78, 0.24);
          box-shadow: 3px 12px 27px rgba(238, 71, 78, 0.24);
  cursor: pointer;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.button:hover, .button:focus {
  text-decoration: none;
  color: #fff;
  background-color: #ea1821;
  outline: none;
}

.button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.disabled {
  pointer-events: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #aaa;
}

.button--whatsapp {
  vertical-align: middle;
  position: relative;
  padding: 21px 41px 21px 88px;
  letter-spacing: 0.85px;
  background-color: #00e676;
  -webkit-box-shadow: 3px 12px 27px rgba(0, 230, 118, 0.24);
          box-shadow: 3px 12px 27px rgba(0, 230, 118, 0.24);
  -webkit-border-radius: 34px;
          border-radius: 34px;
}

.button--whatsapp:hover, .button--whatsapp:focus {
  background-color: #00c264;
}

.button--whatsapp:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--whatsapp:before {
  content: '';
  position: absolute;
  left: 42px;
  top: 50%;
  margin-top: -10px;
}

.button--more {
  position: relative;
  background-color: #fff;
  color: #ee474e;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  border: 2px solid #ececec;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--more:hover, .button--more:focus {
  background-color: #fff;
  color: #ee474e;
  border-color: #ee474e;
}

.button--more:before {
  content: '';
  position: absolute;
  top: -44px;
  left: 50%;
  margin-left: -22px;
  pointer-events: none;
}

.ic_advantages_building, .advantages-items .advantages-item.advantages-item--2:before {
  width: 50px;
  height: 50px;
  background: url("../img/css_sprites.png") -82px -10px;
}

.ic_advantages_home, .advantages-items .advantages-item.advantages-item--1:before {
  width: 52px;
  height: 50px;
  background: url("../img/css_sprites.png") -10px -10px;
}

.ic_advantages_lable, .advantages-items .advantages-item.advantages-item--3:before {
  width: 50px;
  height: 50px;
  background: url("../img/css_sprites.png") -10px -80px;
}

.ic_button_more_icon, .button--more:before {
  width: 44px;
  height: 4px;
  background: url("../img/css_sprites.png") -80px -126px;
}

.ic_checkbox, .catalog-form .catalog-form__checkbox label:after, .quiz-box .quiz-box__choise input[type='checkbox']:checked + label span:after, .quiz-box .quiz-box__list li:before {
  width: 13px;
  height: 10px;
  background: url("../img/css_sprites.png") -111px -194px;
}

.ic_checkbox_green, .quiz-box .catalog-form.quiz-box__success-inputs .catalog-form__checkbox--accent2 label:after {
  width: 13px;
  height: 10px;
  background: url("../img/css_sprites.png") -144px -194px;
}

.ic_close_button, .button-close-modal:after {
  width: 17px;
  height: 17px;
  background: url("../img/css_sprites.png") -10px -194px;
}

.ic_contact_calendar, .contact-content .contact-content__schedule:before {
  width: 14px;
  height: 14px;
  background: url("../img/css_sprites.png") -206px -87px;
}

.ic_contact_email, .contact-content .contact-content__email:before {
  width: 13px;
  height: 11px;
  background: url("../img/css_sprites.png") -78px -194px;
}

.ic_contact_location, .contact-content .contact-content__address:before {
  width: 13px;
  height: 16px;
  background: url("../img/css_sprites.png") -206px -51px;
}

.ic_contact_phone, .contact-content .contact-content__phone:before {
  width: 13px;
  height: 13px;
  background: url("../img/css_sprites.png") -206px -155px;
}

.ic_form_icon_email, .catalog-form .catalog-form__email:before {
  width: 14px;
  height: 12px;
  background: url("../img/css_sprites.png") -142px -150px;
}

.ic_form_icon_person, .catalog-form .catalog-form__name:before {
  width: 11px;
  height: 12px;
  background: url("../img/css_sprites.png") -240px -10px;
}

.ic_form_icon_phone, .catalog-form .catalog-form__phone:before {
  width: 14px;
  height: 14px;
  background: url("../img/css_sprites.png") -206px -121px;
}

.ic_header_menu_button, .header-menu-button {
  width: 28px;
  height: 24px;
  background: url("../img/css_sprites.png") -10px -150px;
}

.ic_houses_cost_triangle, .houses-item .houses-item__description .houses-bottom .houses-cost:after {
  width: 34px;
  height: 69px;
  background: url("../img/css_sprites.png") -152px -10px;
}

.ic_houses_info_icon, .houses-item .houses-item__description .houses-description a:before {
  width: 11px;
  height: 15px;
  background: url("../img/css_sprites.png") -47px -194px;
}

.ic_lightning, .header-center .header-center__content .header-center__content-button > div:before {
  width: 14px;
  height: 21px;
  background: url("../img/css_sprites.png") -206px -10px;
}

.ic_quiz_gift, .quiz-box .quiz-box__success-gift:before {
  width: 28px;
  height: 26px;
  background: url("../img/css_sprites.png") -80px -80px;
}

.ic_quiz_next, .modal-quiz-tabs .tabs-next:after {
  width: 24px;
  height: 14px;
  background: url("../img/css_sprites.png") -98px -150px;
}

.ic_range_slider_stripes, .quiz-box .ui-slider .ui-slider-handle:before {
  width: 9px;
  height: 11px;
  background: url("../img/css_sprites.png") -240px -42px;
}

.ic_reviews_quotes, .reviews .reviews-items .reviews-item .reviews-item__content:before, .reviews .reviews-items .reviews-item .reviews-item__content:after {
  width: 30px;
  height: 25px;
  background: url("../img/css_sprites.png") -152px -99px;
}

.ic_whatsapp, .button--whatsapp:before {
  width: 20px;
  height: 20px;
  background: url("../img/css_sprites.png") -58px -150px;
}

/* Header */
.header {
  background-color: #111221;
}

/* Header top */
.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 120px;
}

.header-logo {
  width: 130px;
  height: 130px;
  padding: 30px;
  background-color: #fff;
}

.header-logo img {
  max-width: 100%;
  height: auto;
}

.header-menu-button {
  display: none;
  margin-right: 9px;
  border: none;
  cursor: pointer;
}

.header-menu-button:focus {
  outline: none;
}

.header-menu, .header-phone, .header-callback, .header-menu-button {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 13.5%;
}

.header-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-menu ul li {
  padding-right: 48px;
}

.header-menu ul li a {
  font-family: 'PFDinTextCondPro';
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: #eeeeee;
}

.header-menu ul li a:hover, .header-menu ul li a:focus {
  text-decoration: none;
  color: #ee474e;
}

.header-menu .button-close-modal {
  display: none;
}

.button-close-modal {
  position: relative;
  float: right;
  width: 50px;
  height: 50px;
  background: #fff;
  border: none;
  cursor: pointer;
}

.button-close-modal:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8.5px;
  margin-left: -8.5px;
}

.button-close-modal:focus {
  outline: none;
}

.button-close-modal.button-close-modal--mini {
  width: 26px;
  height: 26px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-background-size: 40% 40%;
          background-size: 40%;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.button-close-modal.button-close-modal--mini:after {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}

.header-callback-mobile {
  display: none;
}

.header-callback-mobile a {
  display: inline-block;
  padding: 8px 22px;
  font-family: 'PFDinTextCondPro';
  font-size: 15px !important;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ee474e;
  border: 2px solid #454652;
  -webkit-border-radius: 21px;
          border-radius: 21px;
}

.header-phone {
  margin-left: auto;
  margin-right: 50px;
  font-family: 'PFDinTextCondPro';
  font-size: 24px;
  font-weight: 700;
  color: #fafafa;
}

.header-phone:hover, .header-phone:focus {
  text-decoration: none;
  color: #ee474e;
}

.header-phone span {
  display: inline-block;
  margin-right: 5px;
  font-weight: 400;
  color: #494a5a;
}

.header-callback {
  display: block;
  margin-right: 50px;
  padding: 8px 22px;
  font-family: 'PFDinTextCondPro';
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ee474e;
  border: 2px solid #454652;
  -webkit-border-radius: 21px;
          border-radius: 21px;
}

.header-callback:hover, .header-callback:focus {
  text-decoration: none;
  border-color: #ee474e;
}

/* Header Content */
.header-center {
  padding: 126px 0 217px;
  background: url("../img/header-bg.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
}

.header-center .header-center__content h1, .header-center .header-center__content p {
  color: #fff;
}

.header-center .header-center__content h1 {
  margin-bottom: 36px;
}

.header-center .header-center__content h1 br.sm {
  display: none;
}

.header-center .header-center__content p {
  max-width: 495px;
  margin-bottom: 80px;
}

.header-center .header-center__content .header-center__content-button > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 66px;
  font-size: 13px;
  letter-spacing: 0.33px;
  color: #fff;
}

.header-center .header-center__content .header-center__content-button > div span {
  opacity: 0.63;
}

.header-center .header-center__content .header-center__content-button > div:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: -28px;
}

@media only screen and (min-width: 576px) {
  .header-center .header-center__content span.h1-fill-lg {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    color: #313131;
    z-index: 1;
  }
  .header-center .header-center__content span.h1-fill-lg:before {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    bottom: 8px;
    left: 0;
    z-index: -1;
    background-color: #ffffff;
    -webkit-border-radius: 0 4px 4px;
            border-radius: 0 4px 4px;
  }
}

/* Thanks page */
.header--thanks {
  height: 100vh;
}

.header--thanks .header-logo {
  z-index: 1;
}

.header--thanks .header-center {
  position: absolute;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 12.7%;
}

.header--thanks .header-center .header-center__content {
  text-align: center;
}

.header--thanks .thanks-title {
  font-size: 74px;
  line-height: 1.2;
  margin-bottom: 63px !important;
}

.header--thanks .button {
  padding: 23px 71px;
  -webkit-border-radius: 70px;
          border-radius: 70px;
}

/* Main page */
/* Houses section */
.houses {
  background: url("../img/houses-bg.png") center;
}

.houses .houses-p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  max-width: 720px;
}

.houses-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 0 0 250px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 250px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.houses-item .houses-item__showcase, .houses-item .houses-item__description {
  width: 50%;
}

.houses-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.houses-item.houses-item--show {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.houses-load .houses-item {
  display: none;
}

.houses-load .houses-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.houses-load .houses-item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* Houses slider */
.houses-item {
  margin-bottom: 75px;
}

.houses-item .slick-disabled {
  pointer-events: none;
  opacity: 0.4;
}

.houses-item .slick-slide .houses-slider-nav__item {
  position: relative;
}

.houses-item .slick-slide .houses-slider-nav__item:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5px solid transparent;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.houses-item .slick-slide.is-active .houses-slider-nav__item:after {
  border-color: #ee474e;
}

.houses-item .slick-arrow {
  width: 26px;
  height: 30px;
  overflow: hidden;
  -webkit-transform: translate(0, -60%);
      -ms-transform: translate(0, -60%);
          transform: translate(0, -60%);
}

.houses-item .slick-arrow:before {
  content: '';
  position: absolute;
  width: 26px;
  height: 20px;
  border-top: 10px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 13px solid transparent;
  opacity: 1;
}

.houses-item .slick-prev:before {
  top: 5px;
  left: -8px;
  border-right-color: #bbb;
}

.houses-item .slick-prev:hover:before {
  border-right-color: #ee474e;
}

.houses-item .slick-next:before {
  top: 5px;
  left: 7px;
  border-left-color: #bbb;
}

.houses-item .slick-next:hover:before {
  border-left-color: #ee474e;
}

.houses-item .houses-item__showcase {
  padding: 25px;
}

.houses-item .houses-item__showcase .houses-slider-for .houses-slider-for__item {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  overflow: hidden;
}

.houses-item .houses-item__showcase .houses-slider-for .houses-slider-for__item img {
  width: 100%;
  height: auto;
}

.houses-item .houses-item__showcase .houses-slider-nav {
  margin: 18px 18px 0;
}

.houses-item .houses-item__showcase .houses-slider-nav .houses-slider-nav__item {
  max-width: 105px;
  height: 70px;
  overflow: hidden;
  cursor: pointer;
}

.houses-item .houses-item__showcase .houses-slider-nav .houses-slider-nav__item img {
  width: 100%;
  height: auto;
}

.houses-item .houses-item__description {
  padding: 25px;
  text-align: left;
}

.houses-item .houses-item__description h3 {
  margin-top: 19px;
  margin-bottom: 13px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.houses-item .houses-item__description ul.houses-info {
  margin: 0 0 17px;
  padding: 0 0 21px;
  border-bottom: 1px solid #ebebeb;
  list-style: none;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
}

.houses-item .houses-item__description ul.houses-info li {
  font-family: 'PFDinTextCondPro';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 0.45px;
  color: #434343;
}

.houses-item .houses-item__description ul.houses-info li span {
  display: inline-block;
  margin-left: 5px;
  color: #ee474e;
}

.houses-item .houses-item__description .houses-description {
  margin-bottom: 42px;
}

.houses-item .houses-item__description .houses-description div {
  font-family: 'PFDinTextCondPro';
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.45px;
}

.houses-item .houses-item__description .houses-description p {
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.38px;
  color: #565656;
}

.houses-item .houses-item__description .houses-description a {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  color: #c1c1c1;
  border-bottom: 1px dashed #c1c1c1;
}

.houses-item .houses-item__description .houses-description a:before {
  content: '';
  position: absolute;
  top: 5px;
  right: -18px;
}

.houses-item .houses-item__description .houses-description a:hover, .houses-item .houses-item__description .houses-description a:focus {
  text-decoration: none;
  border-color: transparent;
}

.houses-item .houses-item__description .houses-bottom .houses-cost {
  position: relative;
  display: inline-block;
  height: 69px;
  margin-right: 73px;
  padding: 7px 11px 0 25px;
  font-family: 'PFDinTextCondPro';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.81px;
  color: #5c5c5c;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.houses-item .houses-item__description .houses-bottom .houses-cost:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 100%;
}

.houses-item .houses-item__description .houses-bottom .houses-cost span {
  position: relative;
  vertical-align: middle;
  left: -2px;
  display: block;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}

.houses-item .houses-item__description .houses-bottom .houses-cost .houses-cost__price {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.1;
  color: #ee474e;
}

.houses-item .houses-item__description .houses-bottom .button {
  margin-top: 5px;
  vertical-align: top;
}

/* Advanteges section */
.advantages {
  padding-top: 137px;
  padding-bottom: 133px;
  background: #1a1b33 url("../img/advantages-bg.jpg") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
}

.advantages h2 {
  display: inline-block;
  max-width: 650px;
}

.advantages .h-underline--center {
  padding-bottom: 30px;
}

.advantages .h-underline--center:after {
  width: 100px;
}

.advantages-items {
  margin-top: 45px;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-items .advantages-item {
  max-width: 310px;
  padding-right: 20px;
}

.advantages-items .advantages-item:last-child {
  padding-right: 0;
}

.advantages-items .advantages-item:before {
  content: '';
  display: block;
  margin-bottom: 19px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-items .advantages-item .advantages-item__title {
  font-family: 'PFDinTextCondPro';
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.advantages-items .advantages-item .advantages-item__p {
  font-size: 15px;
  letter-spacing: 0.38px;
  line-height: 1.6;
}

/* Custom Construction section */
.custom-construction {
  padding-top: 136px;
  padding-bottom: 223px;
  background: url("../img/custom-construction-bg.jpg") 65% bottom no-repeat;
}

.custom-construction h2 {
  margin-bottom: 90px;
}

.custom-construction .custom-construction__content {
  max-width: 470px;
  text-align: left;
}

.custom-construction .custom-construction__title {
  margin-bottom: 20px;
  max-width: 440px;
  font-family: 'PFDinTextCondPro';
  font-size: 30px;
  font-weight: 500;
  line-height: 1.3;
}

.custom-construction .custom-construction__p {
  margin-bottom: 77px;
}

.custom-construction .button {
  padding: 25px 60px;
  -webkit-border-radius: 38px;
          border-radius: 38px;
}

/* Why US section */
.why-us {
  position: relative;
  padding-top: 137px;
  padding-bottom: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(#eeeaf1), color-stop(50%, #ffffff), to(#eeeaf1));
  background-image: -webkit-linear-gradient(left, #eeeaf1 0%, #ffffff 50%, #eeeaf1 100%);
  background-image: -o-linear-gradient(left, #eeeaf1 0%, #ffffff 50%, #eeeaf1 100%);
  background-image: linear-gradient(to right, #eeeaf1 0%, #ffffff 50%, #eeeaf1 100%);
  overflow: hidden;
}

.why-us:before, .why-us:after {
  content: '';
  position: absolute;
  bottom: 0;
}

.why-us:before {
  left: 0;
  width: 394px;
  height: 334px;
  background: url("../img/why-us-bg-1.png") center no-repeat;
}

.why-us:after {
  right: 0;
  width: 692px;
  height: 518px;
  background: url("../img/why-us-bg-2.png") center no-repeat;
}

.why-us h2 {
  display: inline-block;
  max-width: 810px;
  margin-bottom: 97px;
}

.why-us .h-underline--center {
  padding-bottom: 30px;
}

.why-us .h-underline--center:after {
  width: 100px;
}

.why-us-items {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: left;
  counter-reset: section;
}

.why-us-items .why-us-item {
  width: 33.33333333%;
  margin-bottom: 90px;
  padding-right: 30px;
  counter-increment: section;
}

.why-us-items .why-us-item:before {
  content: "0" counter(section);
  display: block;
  margin-bottom: 25px;
  font-family: 'PFDinTextCondPro';
  font-size: 50px;
  font-weight: 700;
  line-height: 0.44;
  letter-spacing: 1.25px;
  color: #ee474e;
}

.why-us-items .why-us-item .why-us-item__title {
  margin-bottom: 15px;
  font-family: 'PFDinTextCondPro';
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.why-us-items .why-us-item .why-us-item__p {
  font-size: 15px;
  line-height: 1.47;
  letter-spacing: 0.38px;
}

/* Promo sections */
.promo-section-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.promo-section-container .promo-section-container__left, .promo-section-container .promo-section-container__right {
  width: 50%;
}

.promo-section-container img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.promo-section-title {
  margin-bottom: 23px;
  font-family: 'PFDinTextCondPro';
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.75px;
}

.promo-section-p {
  line-height: 1.5;
}

.promo-section-1 {
  padding-bottom: 70px;
}

.promo-section-1 .promo-section-container__left {
  padding-top: 145px;
}

.promo-section-1 .promo-section-container__right {
  padding-top: 90px;
  padding-left: 57px;
}

.promo-section-1 .promo-section-title {
  max-width: 460px;
}

.promo-section-2 {
  padding-bottom: 25px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f0f0f2), to(#fbfbfb));
  background-image: -webkit-linear-gradient(left, #f0f0f2 0%, #fbfbfb 100%);
  background-image: -o-linear-gradient(left, #f0f0f2 0%, #fbfbfb 100%);
  background-image: linear-gradient(to right, #f0f0f2 0%, #fbfbfb 100%);
}

.promo-section-2 .promo-section-container__left {
  padding-top: 32px;
  padding-left: 42px;
}

.promo-section-2 .promo-section-container__right {
  padding-top: 145px;
  padding-left: 25px;
}

.promo-section-2 .promo-section-title {
  max-width: 280px;
}

/* Catalog */
.catalog {
  padding-top: 118px;
  padding-bottom: 0;
  position: relative;
  text-align: left;
  background: #111221 url("../img/catalog-bg.jpg") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.catalog:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/houses-bg.png") center;
  opacity: .05;
}

.catalog > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.catalog h2 {
  font-size: 53px;
  color: #fbfbfb;
}

.catalog .catalog__left {
  width: 63%;
}

.catalog .catalog__left img {
  position: relative;
  top: -20px;
  left: -16px;
  max-width: 100%;
  height: auto;
  margin-bottom: -89px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.catalog .catalog__right {
  width: 37%;
}

.catalog-form {
  margin-top: 10px;
  padding: 40px 35px;
  text-align: center;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #fbfbfb;
}

.catalog-form .catalog-form__title {
  margin-bottom: 5px;
  font-family: 'PFDinTextCondPro';
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.55px;
}

.catalog-form .catalog-form__p {
  display: inline-block;
  max-width: 235px;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.38px;
}

.catalog-form input:not([type="checkbox"]), .catalog-form textarea {
  width: 100%;
  height: 60px;
  padding: 0 25px 0 62px;
  font-size: 15px;
  letter-spacing: 0.38px;
  border: none;
  background-color: #f5f5f5;
  -webkit-border-radius: 30px !important;
          border-radius: 30px !important;
  outline: none;
}

.catalog-form textarea {
  resize: none;
  padding: 15px 25px;
  height: 100px;
  -webkit-border-radius: 20px !important;
          border-radius: 20px !important;
}

.catalog-form .catalog-form__name, .catalog-form .catalog-form__phone, .catalog-form .catalog-form__email, .catalog-form .catalog-form__message {
  display: block;
  width: 84%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  position: relative;
}

.catalog-form .catalog-form__name:before, .catalog-form .catalog-form__phone:before, .catalog-form .catalog-form__email:before, .catalog-form .catalog-form__message:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 22px;
}

.catalog-form .catalog-form__message {
  height: 100px;
}

.catalog-form .catalog-form__email {
  margin-bottom: 31px;
}

.catalog-form button {
  padding: 20px 20px;
  width: 85%;
  -webkit-border-radius: 33px;
          border-radius: 33px;
}

.catalog-form .catalog-form__checkbox {
  margin-top: 20px;
}

.catalog-form .catalog-form__checkbox input {
  display: none;
}

.catalog-form .catalog-form__checkbox input:checked + label:after {
  display: block;
}

.catalog-form .catalog-form__checkbox label {
  position: relative;
  padding-left: 30px;
  font-size: 13px;
  line-height: 1.38;
  color: #767676;
  letter-spacing: 0.33px;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.catalog-form .catalog-form__checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  background: #fbfafa;
  border: 1px solid #e2dfdf;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.catalog-form .catalog-form__checkbox label:after {
  display: none;
  content: '';
  position: absolute;
  top: 4px;
  left: 3px;
}

.catalog-form .catalog-form__checkbox label a {
  text-decoration: underline;
  color: #767676;
}

/* About Us section */
section.about-us {
  padding-top: 137px;
  padding-bottom: 150px;
}

section.about-us h2 {
  margin-bottom: 90px;
}

section.about-us .h-underline--center {
  padding-bottom: 30px;
}

section.about-us .h-underline--center:after {
  width: 100px;
}

section.about-us .about-us__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

section.about-us .about-us__top .about-us__top-left {
  width: 47.8%;
  margin-right: 2.2%;
}

section.about-us .about-us__top .about-us__top-left img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

section.about-us .about-us__top .about-us__top-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 47.8%;
  margin-left: 2.2%;
  padding-top: 23px;
}

section.about-us .about-us__top .about-us__top-right p {
  width: 100%;
  margin-bottom: 16px;
  line-height: 1.38;
}

section.about-us .about-us__top .about-us__top-right .about-us__numbers {
  width: 45.4%;
}

section.about-us .about-us__top .about-us__top-right .about-us__numbers:last-child {
  margin-left: 9.2%;
}

section.about-us .about-us__numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #fafafa;
  text-align: center;
}

section.about-us .about-us__numbers span {
  display: block;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'PFDinTextCondPro';
  text-align: left;
}

section.about-us .about-us__numbers span:first-child {
  margin-bottom: 4px;
  font-size: 96px;
  line-height: 0.8;
  font-weight: 700;
  color: #ee474e;
}

section.about-us .about-us__numbers span:last-child {
  padding-left: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

section.about-us .about-us__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 53px;
  text-align: left;
}

section.about-us .about-us__bottom > div {
  width: 21.7%;
  margin-right: 4.4%;
}

section.about-us .about-us__bottom > div:last-child {
  margin-right: 0;
}

section.about-us .about-us__bottom .about-us__person {
  position: relative;
  padding-bottom: 21.1%;
  background-color: #313131;
  color: #fff;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  overflow: hidden;
}

section.about-us .about-us__bottom .about-us__person:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#161723), to(rgba(22, 23, 35, 0)));
  background-image: -webkit-linear-gradient(bottom, #161723 0%, rgba(22, 23, 35, 0) 100%);
  background-image: -o-linear-gradient(bottom, #161723 0%, rgba(22, 23, 35, 0) 100%);
  background-image: linear-gradient(to top, #161723 0%, rgba(22, 23, 35, 0) 100%);
}

section.about-us .about-us__bottom .about-us__person div {
  position: absolute;
  top: 65%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 30px;
}

section.about-us .about-us__bottom .about-us__person h4 {
  margin: 0;
  font-family: 'PFDinTextCondPro';
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

section.about-us .about-us__bottom .about-us__person p {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.38px;
}

section.about-us .about-us__bottom .about-us__person.about-us__person--1 {
  background-image: url("../img/about-us-person-1.jpg");
}

section.about-us .about-us__bottom .about-us__person.about-us__person--2 {
  background-image: url("../img/about-us-person-2.jpg");
}

section.about-us .about-us__bottom .about-us__person.about-us__person--3 {
  background-image: url("../img/about-us-person-3.jpg");
}

/* Reviews section */
.reviews {
  padding-top: 137px;
  background: #fafafa url("../img/houses-bg.png") center;
}

.reviews .button {
  background-color: #fcfcfc;
}

.reviews .h-underline--center {
  padding-bottom: 30px;
}

.reviews .h-underline--center:after {
  width: 100px;
}

.reviews .reviews-p {
  display: inline-block;
  max-width: 390px;
  margin-bottom: 80px;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.45px;
}

.reviews .reviews-items .reviews-load .reviews-item {
  display: none;
}

.reviews .reviews-items .reviews-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  margin-bottom: 80px;
  text-align: left;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 250px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 250px rgba(0, 0, 0, 0.08);
}

.reviews .reviews-items .reviews-item.show {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.reviews .reviews-items .reviews-item .reviews-item__img img {
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.reviews .reviews-items .reviews-item .reviews-item__content {
  position: relative;
  margin: 0 53px 0 50px;
  padding-top: 48px;
  padding-bottom: 67px;
}

.reviews .reviews-items .reviews-item .reviews-item__content:before, .reviews .reviews-items .reviews-item .reviews-item__content:after {
  content: '';
  position: absolute;
}

.reviews .reviews-items .reviews-item .reviews-item__content:before {
  top: 17px;
  right: 0;
}

.reviews .reviews-items .reviews-item .reviews-item__content:after {
  bottom: 17px;
  left: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reviews .reviews-items .reviews-item .reviews-item__content .reviews-item__date {
  display: inline-block;
  margin-bottom: 10px;
  padding: 3px 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.35px;
  color: #717171;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.reviews .reviews-items .reviews-item .reviews-item__content .reviews-item__name {
  margin-bottom: 15px;
  font-family: 'PFDinTextCondPro';
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
  letter-spacing: 0.55px;
}

.reviews .reviews-items .reviews-item .reviews-item__content .reviews-item__p {
  font-size: 15px;
  font-style: italic;
  line-height: 1.47;
  letter-spacing: 0.38px;
}

.reviews .reviews-items .reviews-item .reviews-item__act .reviews-item__label {
  margin-top: 17px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.33px;
  color: #9b9794;
}

.reviews .reviews-items .reviews-item .reviews-item__act .reviews-item__act-img img {
  border: 1px solid #e5e5e5;
}

/* Contacts */
.contacts {
  position: relative;
  height: 680px;
  padding: 0;
}

.contacts .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

#map {
  width: 100%;
  height: 100%;
  background: #eee;
}

.contact-content {
  position: absolute;
  padding: 117px 100px 100px 150px;
  width: 570px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  pointer-events: auto;
  text-align: left;
}

.contact-content h2 {
  display: inline-block;
  letter-spacing: 1px;
}

.contact-content .h-underline--center {
  padding-bottom: 30px;
}

.contact-content .h-underline--center:after {
  width: 100px;
}

.contact-content .contact-content__address, .contact-content .contact-content__email, .contact-content .contact-content__schedule {
  font-size: 15px;
  line-height: 1.47;
  letter-spacing: 0.38px;
}

.contact-content .contact-content__address, .contact-content .contact-content__phone, .contact-content .contact-content__email, .contact-content .contact-content__schedule {
  position: relative;
  padding-left: 30px;
}

.contact-content .contact-content__address:before, .contact-content .contact-content__phone:before, .contact-content .contact-content__email:before, .contact-content .contact-content__schedule:before {
  content: '';
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
}

.contact-content .contact-content__address {
  margin-bottom: 10px;
}

.contact-content .contact-content__address:before {
  top: 50%;
  margin-top: -6px;
}

.contact-content .contact-content__phone {
  display: block;
  margin-bottom: 10px;
  font-family: 'PFDinTextCondPro';
  font-size: 33px;
  color: #313131;
}

.contact-content .contact-content__phone:hover, .contact-content .contact-content__phone:focus {
  text-decoration: none;
}

.contact-content .contact-content__phone:before {
  top: 50%;
  margin-top: -7px;
}

.contact-content .contact-content__email {
  display: block;
  margin-bottom: 19px;
  color: #313131;
  text-decoration: underline;
}

.contact-content .contact-content__email:before {
  top: 50%;
  margin-top: -6px;
}

.contact-content .contact-content__schedule {
  margin-bottom: 23px;
}

.contact-content .contact-content__schedule:before {
  top: 4px;
}

.contact-content .contact-content__schedule span {
  display: block;
  color: #949494;
}

.contact-content .contact-content__schedule br.sm {
  display: none;
}

.contact-content .button {
  font-size: 16px;
}

/* Modal */
.modal {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  background-color: rgba(24, 25, 38, 0.98);
  overflow-y: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.modal > * {
  -webkit-transform: translateZ(0px);
}

.modal img {
  max-width: 100%;
  height: auto;
}

.modal .button-close-modal {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.modal .button-close-modal.button-close-modal--mini {
  top: -12px;
  right: -12px;
}

.modal-img {
  padding: 2%;
  position: relative;
  letter-spacing: -0.5em;
}

.modal-img > * {
  letter-spacing: normal;
}

.modal-img::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.modal-img > img {
  display: inline-block;
  vertical-align: middle;
}

.modal-callback, .modal-house-view, .modal-messageto-headmaster {
  padding: 10%;
  position: relative;
  letter-spacing: -0.5em;
}

.modal-callback > *, .modal-house-view > *, .modal-messageto-headmaster > * {
  letter-spacing: normal;
}

.modal-callback::after, .modal-house-view::after, .modal-messageto-headmaster::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.modal-callback > form, .modal-house-view > form, .modal-messageto-headmaster > form {
  display: inline-block;
  vertical-align: middle;
}

.modal-callback form, .modal-house-view form, .modal-messageto-headmaster form {
  max-width: 420px;
  position: relative;
}

.modal-messageto-headmaster {
  padding: 2% 10%;
}

/* Quiz */
.modal-quiz {
  position: relative;
  letter-spacing: -0.5em;
}

.modal-quiz > * {
  letter-spacing: normal;
}

.modal-quiz::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.modal-quiz > div {
  display: inline-block;
  vertical-align: middle;
}

.modal-quiz .modal-quiz-box {
  width: 1140px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #fff;
  text-align: left;
}

.modal-quiz .modal-quiz-box .modal-quiz-box__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 42px 50px 40px;
}

.modal-quiz .modal-quiz-box .modal-quiz-box__top .modal-quiz-box__logo {
  width: 54px;
  height: 51px;
  margin-right: 24px;
}

.modal-quiz .modal-quiz-box .modal-quiz-box__top .modal-quiz-box__logo img {
  max-width: 100%;
  height: auto;
}

.modal-quiz .modal-quiz-box .modal-quiz-box__top .modal-quiz-box__top-text {
  max-width: 193px;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.33px;
}

.modal-quiz-tabs {
  position: relative;
}

.modal-quiz-tabs ul.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f5f4f9;
  text-align: center;
}

.modal-quiz-tabs ul.tabs li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: 'PFDinTextCondPro';
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #9b9b9b;
  padding: 9px 15px;
  cursor: pointer;
}

.modal-quiz-tabs ul.tabs li.current {
  display: block !important;
  background-color: #ecebf0;
  color: #313131;
}

.modal-quiz-tabs ul.tabs li.complete {
  background-color: #ee474e;
  color: #fff;
}

.modal-quiz-tabs ul.tabs li.tab-success {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #00e676;
  color: #fff;
  cursor: default;
}

.modal-quiz-tabs .tab-content {
  height: 392px;
  display: none;
  padding: 40px 50px 100px;
}

.modal-quiz-tabs .tab-content.current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.modal-quiz-tabs .tab-content#tab-1 .quiz-box:last-child {
  padding-left: 46px;
  border-left: 1px solid #f1f1f1;
}

.modal-quiz-tabs .tabs-next {
  position: absolute;
  bottom: -32px;
  left: 115px;
  padding: 17px 117px 17px 64px;
}

.modal-quiz-tabs .tabs-next:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 64px;
}

.quiz-box .quiz-box__title {
  font-family: 'PFDinTextCondPro';
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.55px;
  margin-bottom: 10px;
}

.quiz-box .quiz-box__text {
  margin-top: -5px;
  margin-bottom: 45px;
  max-width: 290px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.35px;
}

.quiz-box .quiz-box__choise {
  margin-top: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.quiz-box .quiz-box__choise .quiz-box__choise-box {
  width: 177px;
  margin-right: 50px;
  text-align: center;
}

.quiz-box .quiz-box__choise img {
  width: 175px;
  height: 140px;
  display: inline-block;
  margin-bottom: 14px;
  border: 1px solid rgba(238, 71, 78, 0.11);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.quiz-box .quiz-box__choise label {
  font-family: 'PFDinTextCondPro';
  font-size: 15px;
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  cursor: pointer;
}

.quiz-box .quiz-box__choise label span {
  text-align: left;
  position: relative;
  display: inline-block;
  padding-left: 35px;
}

.quiz-box .quiz-box__choise label span:before, .quiz-box .quiz-box__choise label span:after {
  content: '';
  position: absolute;
}

.quiz-box .quiz-box__choise label span:before {
  top: 0;
  left: 0;
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.quiz-box .quiz-box__choise label span:after {
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.quiz-box .quiz-box__choise input {
  display: none;
}

.quiz-box .quiz-box__choise input[type='radio']:checked + label span:before {
  border: 1px solid #ee474e;
}

.quiz-box .quiz-box__choise input[type='radio']:checked + label span:after {
  background-color: #ee474e;
}

.quiz-box .quiz-box__choise input[type='checkbox']:checked + label span:after {
  top: 5px;
  left: 6px;
}

.quiz-box .quiz-box__choise input[type='radio'] + label span:before {
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.quiz-box .quiz-box__choise input[type='checkbox'] + label span:before {
  top: -2px;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.quiz-box .quiz-range {
  height: 11px;
  width: 500px;
  margin-left: 5px;
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #fafafa;
}

.quiz-box .ui-slider .ui-slider-handle {
  top: -8px;
  margin-left: -12px;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ee474e;
  cursor: pointer;
}

.quiz-box .ui-slider .ui-slider-handle:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
}

.quiz-box .ui-slider-pips .ui-slider-pip {
  font-family: 'OpenSans';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  color: #000 !important;
}

.quiz-box .ui-slider-pips:not(.ui-slider-disabled) .ui-slider-pip:hover .ui-slider-label {
  font-weight: normal;
  color: #ee474e;
}

.quiz-box .ui-slider-float .ui-slider-tip, .quiz-box .ui-slider-float .ui-slider-tip-label {
  display: none;
}

.quiz-box .ui-slider-pips .ui-slider-line {
  height: 10px;
  background-color: #d8d8d8;
  top: -3px;
}

.quiz-box .ui-slider-pips .ui-slider-label {
  top: 10px;
}

.quiz-box .quiz-range-result {
  margin-top: 84px;
  font-family: 'PFDinTextCondPro';
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.45px;
}

.quiz-box .quiz-range-result input {
  display: inline-block;
  vertical-align: middle;
  width: 98px;
  height: 35px;
  margin: 0 10px;
  padding: 0 8px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.55px;
  border: 2px solid #f1f1f1;
  -webkit-border-radius: 18px !important;
          border-radius: 18px !important;
  outline: none;
  color: #313131;
}

.quiz-box .quiz-box__success-text, .quiz-box .quiz-box__success-gift {
  font-size: 15px;
  line-height: 1.47;
  letter-spacing: 0.38px;
}

.quiz-box .quiz-box__success-text {
  margin-top: -7px;
  margin-bottom: 20px;
}

.quiz-box .quiz-box__success-gift {
  position: relative;
  max-width: 400px;
  margin-bottom: 25px;
  padding-left: 40px;
}

.quiz-box .quiz-box__success-gift:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 0;
}

.quiz-box .catalog-form.quiz-box__success-inputs {
  margin: 0;
  padding: 0;
  text-align: left !important;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
  max-width: 702px;
}

.quiz-box .catalog-form.quiz-box__success-inputs .catalog-form__name, .quiz-box .catalog-form.quiz-box__success-inputs .catalog-form__phone, .quiz-box .catalog-form.quiz-box__success-inputs .catalog-form__email, .quiz-box .catalog-form.quiz-box__success-inputs .quiz-box__success-checkboxes {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-right: 28px;
  margin-bottom: 23px;
}

.quiz-box .catalog-form.quiz-box__success-inputs .catalog-form__checkbox {
  display: inline-block;
}

.quiz-box .catalog-form.quiz-box__success-inputs .catalog-form__checkbox--accent2 label {
  font-size: 15px;
  letter-spacing: 0.38px;
  color: #313131;
}

.quiz-box .catalog-form.quiz-box__success-inputs .catalog-form__checkbox--accent2 label:before {
  top: 2px;
}

.quiz-box .catalog-form.quiz-box__success-inputs .catalog-form__checkbox--accent2 label:after {
  top: 6px;
}

.quiz-box.quiz-box--success + .quiz-box .quiz-box__title {
  margin-left: 60px;
}

.quiz-box .quiz-box__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.quiz-box .quiz-box__list li {
  position: relative;
  font-family: 'PFDinTextCondPro';
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.45px;
  padding: 0 0 0 30px;
}

.quiz-box .quiz-box__list li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
}

.button-quiz-success {
  position: absolute;
  bottom: -32px;
  left: 50px;
  padding: 17px 86px;
  background-color: #00e676;
  -webkit-box-shadow: 3px 12px 27px rgba(0, 230, 118, 0.24);
          box-shadow: 3px 12px 27px rgba(0, 230, 118, 0.24);
}

.button-quiz-success:hover, .button-quiz-success:focus {
  background-color: #00c264;
}

.button-quiz-success:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Sidebar */
/* Footer */
.footer {
  background-color: #161723;
  color: #fff;
}

.footer > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  display: block;
  background-color: #fff;
  width: 100px;
  height: 100px;
  padding: 23px;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-copy {
  padding-left: 140px;
  font-size: 14px;
  letter-spacing: 0.35px;
  opacity: 0.5;
}

.footer-privacy-policy {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.35px;
  color: #fff;
  border-bottom: 1px dashed #606060;
  white-space: nowrap;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

.footer-privacy-policy:hover, .footer-privacy-policy:focus {
  text-decoration: none;
  color: #fff;
  border-color: #fff;
}
