/* GLOBALS */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap')

*::-webkit-input-placeholder
  color: $inputPlaceholder !important
  opacity: 1 !important

*:-moz-placeholder
  color: $inputPlaceholder !important
  opacity: 1 !important

*::-moz-placeholder
  color: $inputPlaceholder !important
  opacity: 1 !important

*:-ms-input-placeholder
  color: $inputPlaceholder !important
  opacity: 1 !important

// body input:required:valid,
// body textarea:required:valid
//  color: $inputRequireValid
// body input:focus:required:invalid,
// body textarea:focus:required:invalid
//  color: $inputRequireInvalid

// Hiding vertical scrollbar in Chrome (for perfectpixel)
// ::-webkit-scrollbar
//  display: none

// .row>div
//  border: 1px solid red

// *,:before,:after
//  box-sizing: border-box

// html
  // overflow: hidden // For Magnific Popup scrollbar problem
  //margin-right: 0 !important // For Magnific Popup scrollbar problem
  // overflow-y: auto !important
  // Заплатка для ошибки c .row
  // Не годится !!! smooth scroll и подобные не пашут
  // overflow: hidden

// Disable android font boosting
html *
  max-height: 1000000px

html
  font-size: $baseFontSize
  scrollbar-width: none // For Firefix, must be set on the root element

  // &::-webkit-scrollbar-track
  //   background-color: $menuBgc
  // &::-webkit-scrollbar
  //   width: 10px
  //   background-color: $menuBgc
  // &::-webkit-scrollbar-thumb
  //   background-color: $bgColor

html, body
  min-height: 100%
  height: 100%
  -webkit-overflow-scrolling: touch !important

body
  position: relative
  min-width: 320px
  margin: 0
  font-family: $defaultFontFamily
  // font-size: $baseFontSize
  line-height: $baseLineHeight
  // font-weight: 500
  // font-family: Consolas
  background-color: $bgColor
  color: $textColor

  @media (min-height: 600px)
    overflow-x: hidden
    overflow-y: scroll
    -ms-overflow-style: none // For IE10+
    // WebKit
    &::-webkit-scrollbar
      display: none

  // @media (min-width: 576px)
    // overflow: hidden
  // color: $textColor
  // overflow-x: hidden
  /* font-family: 'Ubuntu', sans-serif */
  // overflow-x: hidden

  ::selection
    background-color: $selectionColor
    color: black

// .container
//   @media (min-width: 1200px)
//     max-width: 1310px

input:not([type="checkbox"]):not([type="radio"]), textarea//, select
  -webkit-appearance: none !important // Remove inputs and textareas inner shadow on Mobile Safari (iPhone)
  // border-radius: 0 !important // Если бордюры не нужны, нужно сбросить иначе на ios будут по дефолту

a
  color: $linkColor

a, button
  &:active
    transform: translate(1px, 1px)
  &:disabled
    user-select: none
    pointer-events: none
    &:active
      transform: none

  // color: $link
  // &:hover, &:focus
  //  color: $linkHover
  //  text-decoration: none

iframe
  border: none

// p
  // margin-bottom: 20px

/* Headings */
// h1, .h1, h2, .h2

// h1, .h1

// h2, .h2

// h3, .h3

// /* Hidden/Visible classes */

// ol, ul
//  li

// ol
//  li

// dl
// dt,dd

// dt

// dd

/* Text */

// .text-center
//  text-align: center

// .text-color-green
//  color: $green

// .text-accent
//  color: $accent

// .text-upperscase
//  text-transform: uppercase

/* Inputs */

// input:not([type="checkbox"]):not([type="radio"]), textarea // Плохо, т.к. перебивает все последующие стили

// input, textarea

// input
//  height: 45px

// textarea
//  resize: none

// input[type="checkbox"], input[type="radio"]
//  display: none

// input[type=number]::-webkit-inner-spin-button,
// input[type=number]::-webkit-outer-spin-button
//  -webkit-appearance: none
//  margin: 0

// select

/* Buttons */

// .container
//   position: absolute
//   top: 50%
//   left: 50%
//   transform: translate(-50%, -50%)
//   width: 100%
//   max-width: 380px
//   /* height: 100vh */
//   margin: 0 auto
//   /* padding: 320px 0 0 */
//   padding: 40px 20px 20px 0
//   background-color: #f6f6f6

// $gridBdc: #ededed
// .grid
//   position: absolute
//   top: 0
//   /* right: 0 */
//   bottom: 0
//   left: 50%
//   z-index: -1
//   display: flex
//   width: 100%
//   max-width: 910px
//   border-right: 1px solid $gridBdc
//   border-left: 1px solid $gridBdc
//   transform: translateX(-50%)
// .grid__col
//   flex: 1
//   &:not(:last-child)
//     border-right: 1px solid $gridBdc

.logo, .social, .pageNav, .mailto
  z-index: 1

.wavyLink
  text-decoration: wavy underline
  text-decoration-thickness: 2px

// .burger
//   @media (max-width: 767px)
//     position: fixed
//     // bottom: -10px
//     top: 15px
//     right: 15px
//     width: 40px
//     height: 40px
//     background: #000
//     border: none
//     border-radius: 50%
//     &::after
//       content: ''
//       position: absolute
//       top: 0
//       right: 0
//       bottom: 0
//       left: 0
//       z-index: 2
//       background: #000
//       border-radius: 50%
//       opacity: 0
//       transform: scale(1)
//       transition: transform 3s, opacity 0.3s
//     &:hover
//       &::after
//         transform: scale(1000)
//         opacity: 1
//     span
//       position: absolute
//       top: 50%
//       left: 50%
//       display: block
//       width: 22px
//       height: 2px
//       background-color: white
//       transform: translate(-50%, -50%)
//       border-radius: 5px
//       &::before, &::after
//         content: ''
//         position: absolute
//         right: 0
//         left: 0
//         height: 2px
//         background-color: white
//         border-radius: 5px
//       &::before
//         top: -7px
//       &::after
//         bottom: -7px
//   @media (min-width: 768px)
//     display: none

.btn
  padding: 15px 30px
  font-family: $defaultFontFamily
  font-size: 0.75rem
  background-color: $menuBgc
  color: $textColor
  border-radius: $baseBorderRadius
  border: none
  cursor: pointer
  user-select: none
  touch-action: none
  &:not(:last-child)
    margin-right: 5px
    &:disabled
      opacity: 0.4
